<hazelcast xmlns="http://www.hazelcast.com/schema/config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.hazelcast.com/schema/config
           http://www.hazelcast.com/schema/config/hazelcast-config-3.12.xsd">

    <license-key>ENTERPRISE_HD#30Nodes#ni21yjqkNJgulZPMSDHXTKQm9O0f5Y8bABECdUGWw661100000107100010211111000221001900900090130</license-key>

    <network>
        <join>
            <multicast enabled="false"/>
            <tcp-ip enabled="true">
                <member>10.0.0.101:5701</member>
                <member>10.0.0.102:5701</member>
            </tcp-ip>
        </join>
    </network>

    <native-memory allocator-type="POOLED" enabled="true">
      <size unit="GIGABYTES" value="52"/>
      <min-block-size>16</min-block-size>
      <page-size>4194304</page-size>
      <metadata-space-percentage>12.5</metadata-space-percentage>
    </native-memory>

    <serialization>
      <data-serializable-factories>
        <data-serializable-factory factory-id="1">com.hazelcast.certification.domain.TransactionDataSerializableFactory</data-serializable-factory>
      </data-serializable-factories>
    </serialization>

    <map name="transaction_history">
        <in-memory-format>NATIVE</in-memory-format>
        <map-store enabled="true" initial-mode="EAGER">
            <class-name>com.hazelcast.certification.util.TransactionMapLoader</class-name>
            <properties>
                <property name="preload.cardCount">30000000</property>
                <property name="preload.txnCount">20</property>
            </properties>
        </map-store>
        <statistics-enabled>true</statistics-enabled>
    </map>


    <properties>
  {% if (private_ip[-3:]|int) % 5 == 0 %}
        <property name="transaction.server.host">10.0.0.201</property>
  {% elif (private_ip[-3:]|int) % 5 == 1 %}
        <property name="transaction.server.host">10.0.0.202</property>
  {% elif (private_ip[-3:]|int) % 5 == 2 %}
        <property name="transaction.server.host">10.0.0.203</property>
  {% elif (private_ip[-3:]|int) % 5 == 3 %}
        <property name="transaction.server.host">10.0.0.204</property>
  {% else %}
        <property name="transaction.server.host">10.0.0.205</property>
  {% endif %}
        <property name="transaction.server.port">8511</property>
        <property name="transaction.reader.threads">16</property>
        <property name="hazelcast.operation.thread.count">8</property>
<!--
        <property name="hazelcast.partition.count">2063</property>
-->
    </properties>

    <management-center enabled="true">http://10.0.0.222:8080/hazelcast-mancenter</management-center>
</hazelcast>
